*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.App{
    height: 130vh;
    background-color: rgb(255, 149, 149);
}

@media screen and (max-width:500px){
    .App{
        height: 170vh;
    }
}